<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Personal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <img src='@ViewData["Img"]' height="220" width="500">    
        <nav>
            <ul>
                <li><a href='@Url.Action("Index", "Home")'>Pagina principal</a></li>
                <li><a href='@Url.Action("huesca", "Home")'>Huesca</a></li>
                <li><a href='@Url.Action("zaragoza", "Home")'>Zaragoza</a></li>
                <li><a href='@Url.Action("teruel", "Home")'>Teruel</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <h2> YA LE CONVENCIMOS DE IR A ARAGÓN? INSCRIBASE EN EL SIGUIENTE FORM!!!!!</h2>
        <a href='@Url.Action("form", "Home")'> Click ACÁ</a>
        <h5>&copy; 2024 Aragón Turismo - telefono: 976 282 181 - email: aragonturismo@gmail.com</h5>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
